    $noto-font-map: (semibold-woff:'../fonts/NotoSans/NotoSans-SemiBold.woff',
    semibold-woff2:'../fonts/NotoSans/NotoSans-SemiBold.woff2',
    semibold-italic-woff: '../fonts/NotoSans/NotoSans-SemiBoldItalic.woff',
    semibold-italic-woff2: '../fonts/NotoSans/NotoSans-SemiBoldItalic.woff2',
    regular-woff:'../fonts/NotoSans/NotoSans-Regular.woff2',
    regular-woff2:'../fonts/NotoSans/NotoSans-Regular.woff2',
    italic-woff: '../fonts/NotoSans/NotoSans-Italic.woff',
    italic-woff2: '../fonts/NotoSans/NotoSans-Italic.woff2',
    bold-woff: '../fonts/NotoSans/NotoSans-Bold.woff',
    bold-woff2: '../fonts/NotoSans/NotoSans-Bold.woff2',
    bold-italic-woff:'../fonts/NotoSans/NotoSans-BoldItalic.woff',
    bold-italic-woff2:'../fonts/NotoSans/NotoSans-BoldItalic.woff2',
    light-woff:'../fonts/NotoSans/NotoSans-Light.woff',
    light-woff2:'../fonts/NotoSans/NotoSans-Light.woff2',
    light-italic-woff:'../fonts/NotoSans/NotoSans-LightItalic.woff2',
    light-italic-woff2:'../fonts/NotoSans/NotoSans-LightItalic.woff2'
    );

    $roboto-font-map: (medium-woff: '../fonts/Roboto/hinted-Roboto-Medium.woff',
    medium-woff2: '../fonts/Roboto/hinted-Roboto-Medium.woff2',
    medium-italic-woff: '../fonts/Roboto/hinted-Roboto-MediumItalic.woff',
    medium-italic-woff2: '../fonts/Roboto/hinted-Roboto-MediumItalic.woff2',
    regular-woff: '../fonts/Roboto/hinted-Roboto-Regular.woff',
    regular-woff2: '../fonts/Roboto/hinted-Roboto-Regular.woff2',
    regular-italic-woff: '../fonts/Roboto/hinted-Roboto-Italic.woff',
    regular-italic-woff2: '../fonts/Roboto/hinted-Roboto-Italic.woff2',
    );