/* This color palette is a proposal, it is subject of changes */

/* Brand colors */
$brand-01: #14447d;
$brand-02: #323b46;
$brand-03: #38b65a;

/* Typography colors */
$text-01: #232735;
$text-02: #505565;
$text-03: #8b90a0;
$text-inverse: #fff;

/* UI */
$ui-01: #fff;
$ui-02: #d7e2ed;
$ui-03: #d7e2ed;
$ui-04: #cacbcf;
$ui-05: #00bffd;
$ui-06: #10968f;
$ui-07: #232735;

/* Hover */
$hover-primary: #5b6583;
$hover-secondary: #434b61;
$hover-row: #eeeef1;

/* Support */
$support-info: #0d2641;
$support-success: #2e7d32;
$support-error: #ba1e2e;
$support-warning: #efc100;